# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (highly recommended to exclude)
venv/
.venv/
env/
ENV/

# PyCharm / JetBrains configurations
.idea/
*.iml

# Exceptions to PyCharm configurations (if you want to share specific settings with your team)
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/codeStyles/
